.main{
    width: 400px;
    height: 400px;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    margin: 100px auto 20px;
}
body{
    background:  #bec3cd;
}
.row{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    padding-left: 20px;
    margin-bottom: 25px;
    border-radius: 10px;
}
input{
    border: none;
    outline: none;
    padding: 10px;
    font-weight: 14px;
    background: transparent;
}

button{
padding: 15px 50px;
background: green;
border: none;
outline: none;
border-radius: 20px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    background: rgb(63, 68, 66);
    position: absolute;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-position: center; 
    background-size: cover;
    top:12px;
    left:25px;
}
ul li.check{
    color: rgb(173, 169, 169);
    text-decoration: line-through;
}
ul li.check::before{
    content: '';
    background: rgb(89, 209, 231);
    position: absolute;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-position: center; 
    background-size: cover;
    top:12px;
    left:25px;
}
ul li span{
    position: absolute;
    right:0;
    top:5px;
    width:40px;
    height:40px;
    font-size: 22px;
    color: black;
    line-height: 40px;
    text-align: center;
}
ul li span:hover{
    background: rgb(148, 147, 147);
    border-radius: 50%;
}

